* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}



body {
    width: 80vw;
    margin: auto;
    background-color:darkslategray;
}

#ribbon-area {
    
}



#pad-area {
    margin: auto;
    width: 50vw;
    overflow: hidden;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketch-pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 580px;
    border: 2px solid black;
    margin: auto;
    
}

.pad-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    /* border: 0.5px solid rebeccapurple; */
}

.pixel-dim {
    border: 0.001px dotted gainsboro;
    height: 100%;
    flex: 1;

}


/* vh sizes start --------------------------*/
header {
    height: 5vh;
}

main {
    height: 90vh;
}

#ribbon-area {
    height: 5vh;
}

#pad-area {
    height: 85vh;
}

#work-area {
    display: flex;
    justify-content: center;
}




footer {
    height: 5vh;
}


/* vh sizes end --------------------------*/


@media only screen and (width < 1260px) {
    body {
        width: 100vw;
    }
    main {
        width: 100vw;
    }
    #pad-area {
        width: 100vw;
    }
    #sketch-pad {
        width: 48vw;
        height: 48vw;
    }
}   

@media only screen and (width < 800px) {
    body {
        width: 100vw;
    }
    main {
        width: 100vw;
    }
    #pad-area {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px;
    }
    #sketch-pad {
        width: 65vw;
        height: 65vw;
        margin: 10px auto;
    }
}   

.basic-swatches, .custom-colors {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.swatch, .blank-color {
    width: 20px;
    height: 20px;
    border: 0.5px solid gray;
    margin: 2px;
}

.swatch:hover {
    box-shadow: 0 0 2px 1px blue;
    border: 0.5px solid white;
}

#color-picked-area {
    width: 100px;
    height: 120px;   
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#color-picked-area.clicked {
    border: 1px solid white;
    background-color: aquamarine;
}



#color-picked{
    width: 70px;
    height: 70px;   
    border: 1px solid rgb(0, 0, 0);
}

#color-picked-area p {
    margin: 5px;
}


#clear-all, #eraser, #rainbow {
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 3px;
    margin: 5px;
}

#clear-all.clicked, #eraser.clicked, #rainbow.clicked  {
    scale:1.1;
    box-shadow: 0 0 2px 1px blue;
    border: 0.5px solid white;

}