@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Questrial&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Questrial', sans-serif;
}

:root {
    --padding: 8px;
    --margin: 16px;
}

body {
    height: 98vh;
    min-width: 320px;
    margin: auto;
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    align-items: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("./images/night-street-pixel.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 100%;
    filter: brightness(50%);
}

main {
    width: max-content;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    padding: var(--padding);
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

#work-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

h3 {
    font-size: 1rem;
    margin: 5px;
    font-family: 'Audiowide', cursive;
    color: #E9E8E8;
}

h1 {
    font-size: 2rem;
    font-family: 'Audiowide', cursive;
    color: #E9E8E8;
}

.ribbon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
}

section.colors, section.paint-tools, section.size-tool {
    margin: 8px 8px 0;
    padding: 8px;
    background-color: rgba(77, 76, 125, 80%);
    border: 2px solid #E9D5DA;
}

section.colors {
    grid-area: colors;
}

section.paint-tools {
    grid-area: tools;
}

section.size-tool {
    grid-area: size-tool;
}

.color-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

#color-picked-area {
    width: 70px;
    height: 80px;   
    background: none;
    border: 2px solid #E9E8E8;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#color-picked-area.clicked {
    border: 1px solid white;
    background: linear-gradient(#E9E8E8, #CD5888, #913175);
    border-radius: 5px;
}

#color-picked-area.clicked  #color-picked {
    border: 1px solid #CD5888;
}

#color-picked-area.clicked  p {
    color: white;
}

#color-picked{
    width: 50px;
    height: 50px;  
    margin: 5px 0 0; 
    border: 1px solid #E9E8E8;
}

#color-picker {
    width: 50px;
    height: 80px;
    border: 5px solid #E9E8E8;
    border-radius: 5%;
}

#color-picker:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

#color-picked-area p {
    font-size: 1rem;
    color: white;
}

.mini-swatch {
    margin: 10px auto 0;
    border-radius: 5px;
    border: 2px solid #913175;
    background-color: #E9E8E8;
}

.basic-swatches, .custom-colors {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

.basic-swatches {
    padding: 5px 5px 2.5px;
}

.custom-colors {
    padding: 2.5px 5px 5px;
}

.swatch, .blank-color {
    width: 20px;
    height: 20px;
    border: 0.5px solid gray; 
}

.swatch:hover {
    box-shadow: 0 0 2px 1px #CD5888;
    border: 0.5px solid white;
    cursor: pointer;
}
.blank-color {
    border-radius: 5px;
}

/* section.paint-tools */
#clear-all, #eraser, #rainbow, #fill, #paint, .size-typer {
    width: 125px;
    height: 30px;
    font-size: 1.1rem;
    border-radius: 5px;
    margin: 5px;
    background-color: #E9E8E8;
}

#clear-all {
    margin-top: 25px;
}

#clear-all.clicked,
#eraser.clicked, 
#rainbow.clicked, 
#fill.clicked,
#paint.clicked  {
    transform:scale(1.1);
    background:linear-gradient(#CD5888, #913175);
    color: #E9E8E8;
    box-shadow: 0 0 2px 1px #CD5888;
    border: 2px solid white;
}

#clear-all:hover,
#eraser:hover, 
#rainbow:hover, 
#fill:hover,
#paint:hover,
.size-typer:hover  {
    background:linear-gradient(#E9E8E8, #CD5888);
    color: #20262E;
    box-shadow: 0 0 2px 1px #CD5888;
    border: 2px solid white;
}

#rainbow:hover, #rainbow.clicked {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: rainbow-border 1s ease-in-out infinite;
}

/* section.size-tool */

#size-slider {
    margin: 5px;
}

.size-typer {
    width: 110px;
    height: 25px;
    font-size: 1rem;
    border-radius: 5px;
    margin: 5px;
    background-color: #E9E8E8;
}

.size-label {
    font-size: 1.3rem;
    color: #E9E8E8;
}

/* Pad Area */
#pad-area {
    margin: 10px 10px 5px;
    width: max-content;
    height: fit-content;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(130, 115, 151, 80%);
    border: 2px solid #E9E8E8;
}

#sketch-pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    /* width: calc(10rem + 27vw);
    height: calc(10rem + 27vw); */
    width: 550px;
    height: 550px;
    border: 5px solid #913175;
    margin: 10px;
    background-color: white;
    
}

.pad-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.pixel-dim {
    border: 0.001px dotted gainsboro;
    height: 100%;
    flex: 1;
}

.pixel-dim:hover {
    background-color: #e9e8e8;
}

footer {
    padding: var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

footer p {
    color: #E9E8E8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

footer a {
    color: #dc8cad;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
    transition: 200ms ease-in-out;
}

footer svg {
 width: 16px;
 height: 16px;
 fill: #E9E8E8;
}

footer a svg {
    fill: #dc8cad;
}

footer a:visited, footer a:visited svg {
    color: #dc8cad;
    fill: #dc8cad;
}

footer a:hover, footer a:hover svg {
    cursor: pointer;
    color: #d26693;
    fill: #d26693;
}

footer a:active, footer a:active svg {
    color: #d26693;
    fill: #d26693;
}
   
/* slider style */
input[type=range].size-slider {
    width: 150px;
    margin: 5.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range].size-slider:focus {
    outline: none;
  }
  input[type=range].size-slider::-webkit-slider-runnable-track {
    background: #e9e8e8;
    border: 0.4px solid #913175;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range].size-slider::-webkit-slider-thumb {
    margin-top: -6.2px;
    width: 20px;
    height: 20px;
    background: #913175;
    border: 2.6px solid rgba(205, 88, 136, 0.57);
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range].size-slider:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range].size-slider::-moz-range-track {
    background: #e9e8e8;
    border: 0.4px solid #913175;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range].size-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #913175;
    border: 2.6px solid rgba(205, 88, 136, 0.57);
    cursor: pointer;
  }
  input[type=range].size-slider::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 10.2px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range].size-slider::-ms-fill-lower {
    background: #c4c1c1;
    border: 0.4px solid #913175;
  }
  input[type=range].size-slider::-ms-fill-upper {
    background: #e9e8e8;
    border: 0.4px solid #913175;
  }
  input[type=range].size-slider::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #913175;
    border: 2.6px solid rgba(205, 88, 136, 0.57);
    cursor: pointer;
    margin-top: 0px;
  }
  input[type=range].size-slider:focus::-ms-fill-lower {
    background: #e9e8e8;
  }
  input[type=range].size-slider:focus::-ms-fill-upper {
    background: #ffffff;
  }
  @supports (-ms-ime-align:auto) {
    input[type=range].size-slider {
      margin: 0;  
    }
  }
  

@keyframes rainbow-border {
    0% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 2);
    }
    15% {
      box-shadow: 0 0 10px rgba(255, 127, 0, 2);
    }
    30% {
      box-shadow: 0 0 10px rgba(255, 255, 0, 2);
    }
    45% {
      box-shadow: 0 0 10px rgba(0, 255, 0, 2);
    }
    60% {
      box-shadow: 0 0 10px rgba(0, 0, 255, 2);
    }
    75% {
      box-shadow: 0 0 10px rgba(75, 0, 130, 2);
    }
    90% {
      box-shadow: 0 0 10px rgba(148, 0, 211, 2);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 2);
    }
  }

/* Media queries */

@media only screen and (width <= 1025px) and (height >= 1025px) {
    main {
        width: 100%;
        height: 100%;
    }

    #work-area {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr max-content;
        justify-content: center;
        align-items: start;
        grid-template-areas: 
            "pad"
            "ribbon";
    }

    #pad-area {
        grid-area: pad;
        justify-self: center;
        align-self: center;
    }

    .ribbon {
        grid-area: ribbon;
        justify-self: center;
        align-self: self-start;
        width: 95%;
        margin: var(--margin);
        gap: var(--margin);

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;
        grid-template-areas: 
            "colors size-tool"
            "tools tools";
    }

    section.colors, section.paint-tools, section.size-tool {
        margin: 0;
        padding: 8px;
    }

    /* colors (start) */
    section.colors {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;
    }

    section.colors h3 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    div.swatches {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: max-content;
        margin: auto;
        gap: var(--margin);
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 0.5fr 1fr;
    }

    .mini-swatch {
        height: max-content;
        width: max-content;
        margin: 0;
    }

    .color-picker-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 8px;
        gap: 8px;
    }

    #color-picked-area, #color-picker {
        width: unset;
    }

    .swatch, .blank-color {
        flex: 1;
        width: calc(10px + 1vw);
        height: calc(10px + 1vw);
    }
    /* colors (end) */

    /* tools (start) */
    #clear-all, #eraser, #rainbow, #fill, #paint, .size-typer {
        padding: var(--padding);
        height: unset;
        min-width: max-content;
    }

    .mode-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: var(--margin);
    }

    #clear-all {
        margin: 0 0 0 calc(var(--margin) * 2);
    }
    /* tools (start) */

    /* Sizer (start) */
    section.size-tool {
        grid-area: size-tool;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr max-content;
    }

    input[type=range].size-slider {
        width: 100%;
    }
    
    .resize-buttons {
        align-self: center;
        display: grid;
        grid-template-columns: 1fr max-content;
        gap: var(--margin);
        justify-content: center;
        justify-items: center;
    }
    /* Sizer (end) */
}

@media only screen and (max-width: 821px) {
    body {
        min-width: 768px;
    }

    main {
        width: 100%;
        height: 100%;
    }

    #work-area {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr max-content;
        justify-content: center;
        align-items: start;
        grid-template-areas: 
            "pad"
            "ribbon";
    }

    #pad-area {
        grid-area: pad;
        justify-self: center;
        align-self: center;
    }

    .ribbon {
        grid-area: ribbon;
        justify-self: center;
        align-self: self-start;
        width: 95%;
        margin: var(--margin);
        gap: var(--margin);

        display: grid;
        grid-template-columns: 1fr max-content;
        grid-template-rows: max-content max-content;
        grid-template-areas: 
            "colors size-tool"
            "tools tools";
    }

    section.size-tool {
        grid-area: size-tool;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr max-content;
    }

    input[type=range].size-slider {
        width: unset;
    }
    
    .resize-buttons {
        align-self: end;
    }

    section.colors, section.paint-tools, section.size-tool {
        margin: 0;
        padding: 8px;
    }

    /* colors (start) */
    section.colors {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;
    }

    section.colors h3 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    div.swatches {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: max-content;
        margin: auto;
        gap: var(--margin);
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 0.5fr 1fr;
    }

    .mini-swatch {
        height: max-content;
        width: max-content;
        margin: 0;
    }

    .color-picker-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 8px;
        gap: 8px;
    }

    #color-picked-area.clicked p {
        font-size: 0.8rem;
    }

    #color-picked-area, #color-picker {
        width: unset;
        gap: 4px;
        height: 60px;
    }

    .swatch, .blank-color {
        flex: 1;
        width: calc(10px + 1vw);
        height: calc(10px + 1vw);
    }

    .blank-color {
        border-radius: 3px;
    }
    /* colors (end) */

    /* tools (start) */
    .mode-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: var(--margin);
    }

    #clear-all, #eraser, #rainbow, #fill, #paint, .size-typer {
        font-size: 1rem;
        width: 115px;
        min-width: max-content;
        margin: 4px;
    }

    #clear-all {
        margin: 0 0 0 calc(var(--margin) * 2);
    }
    /* tools (start) */
    
    .size-label {
        font-size: 1.3rem;
    }
}


@media only screen and (max-width: 500px) {
    body {
        grid-template-rows: max-content 1fr max-content;
        min-width: 320px;
    }

    h1 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 0.8rem;
        margin: 0;
    }
    main {
        width: 100%;
        height: 100%;
    }

    #work-area {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr max-content;
        justify-content: center;
        align-items: center;
        grid-template-areas: 
            "pad"
            "ribbon";
        position: relative;
    }

    #pad-area {
        grid-area: pad;
        justify-self: center;
        margin: 4px;
    }

    #sketch-pad {
        margin: 4px;
    }

    .ribbon {
        grid-area: ribbon;
        justify-self: center;
        width: 95%;
        max-height: 50vh;
        padding-bottom: 15px;
        overflow-y: auto;
        margin: 0;
    
        display: flex;
        gap: 0;
    }

    section.colors, section.paint-tools, section.size-tool {
        margin: 4px 4px 0;
        padding: 4px;
    }

    section.colors {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;
    }

    section.colors h3 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    div.swatches {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: max-content;
        margin: auto;
        gap: var(--margin);
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 0.5fr 1fr;
    }

    .mini-swatch {
        height: max-content;
        width: max-content;
        margin: 0;
    }

    .color-picker-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 4px;
        gap: 4px;
    }

    #color-picked {
        width: 95%;
    }

    #color-picked-area.clicked p {
        font-size: 0.6rem;
    }

    #color-picked-area, #color-picker {
        width: unset;
        gap: 4px;
        height: 60px;
    }

    .swatch, .blank-color {
        flex: 1;
        width: calc(10px + 1vw);
        height: calc(10px + 1vw);
    }

    .blank-color {
        border-radius: 3px;
    }

    .mode-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 0;
    }

    #clear-all {
        margin: unset;
    }

    #clear-all, #eraser, #rainbow, #fill, #paint, .size-typer {
        font-size: 0.8rem;
        width: 100px;
        min-width: max-content;
        margin: 4px;
    }
    
    .size-label {
        font-size: 0.8rem;
    }

    footer a, footer p {
        font-size: 0.8rem;
        align-self: end;
    }
}

@media only screen and (width <= 350px) {
    div.swatches {
        gap: 4px;
    }

    .swatch, .blank-color {
        width: 11px;
        height: 11px;
    }
}

@media only screen and (height <= 700px) {
    .ribbon {
        max-height: 35vh;
    }
}

@media (hover: none) {
    body {
        height: 98vh;
        overflow-y: hidden;
    }

    @media only screen and (width >= 1024px) and (height <= 600px) {
        body {
            min-width: 1440px;
        }

        .ribbon {
            max-height: unset;
        }
    }
}
